<head>
    <title>CRUD</title>
</head>

<div class="container">
  <h1>Welcome to CRUD!</h1>
  <p>Hello, minons!</p>

<form method='post' action='/create_note'>
  Title: <Input type='text' name='title'><br>
  Body:  <Input type='text' name='content'><br>
  <button>Submit</button>
</form>

</div>
