<head>
    <title></title>
    <style type="text/css">
    .container {
        width: 400px;
        clear: both;
    }
    .container input {
        width: 100%;
        clear: both;
    }

    </style>

<div class="container">
  <h1>Welcome to CRUD!</h1>
  <p>Hello, minons!</p>

<form method='post' action='/create_note'>
  Title: <Input type='text' name='title'><br>
  Body:  <Input type='text' name='content'><br>
  <button>Submit</button>
</form>


</div>
