<div class="container">
  <p>Hello, world!</p>




<ul>
    <% @notes.each do |note|%>
  <li><a href="/note/<%= note.id %>"><%= note.title %></a><p>
    <%= note.content %></p>
  </li>
  <% end %>

</ul>


</div>





